@model List<WebApplication1.Models.Persons>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Here is all of the people you have added!</h4>
    <hr />
    <table class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>*@
        @if (Session["ClassMates"] != null)
        {
            foreach (var item in (List<WebApplication1.Models.Persons>)Session["ClassMates"])
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td></td>
                </tr>
            }
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
